* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo h1 {
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  background-color: black;
  padding: 20px 30px;
}

.nav-btn button {
  padding: 10px 20px;
  border-radius: 15px;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: 600;
  border: none;
  outline: none;
}
